/* Hide scrollbar but keep scrollable */
.hide-scroll-bar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}